.bg-roxo{
    background-color: #dc8bb0;
}

a:hover{
  font-weight: bold;
  text-decoration: none;
}

.carousel-img {
  object-fit: cover;
  background-position: bottom;
  object-position: 0 60%;
  width: 100%;
  height: 65vh;
}

.link-color{
  color: #7E459B;
}


.link{
  color: black;
  
}
.link:hover{
  color: #7E459B;
  }

  button:hover{
    opacity: .9;
  }

  .imagem-card{
    height: 200px;
  }

 